<nav class = "navbar bg-white">
    
    <div class = "container-fluid">

        <ul class = "nav" justify-content-end>
        
            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Electronics & Media
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Audio & Speakers</a></li>
                  <li><a class="dropdown-item" href="#">Cell Phones & Accessories</a></li>
                  <li><a class="dropdown-item" href="#">Camera & Photography</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Home & Garden
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Audio & Speakers</a></li>
                  <li><a class="dropdown-item" href="#">Cell Phones & Accessories</a></li>
                  <li><a class="dropdown-item" href="#">Camera & Photography</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Clothing, Shoes, & Accessories
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Audio & Speakers</a></li>
                  <li><a class="dropdown-item" href="#">Cell Phones & Accessories</a></li>
                  <li><a class="dropdown-item" href="#">Camera & Photography</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Baby & Kids
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Audio & Speakers</a></li>
                  <li><a class="dropdown-item" href="#">Cell Phones & Accessories</a></li>
                  <li><a class="dropdown-item" href="#">Camera & Photography</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Vehicles
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Audio & Speakers</a></li>
                  <li><a class="dropdown-item" href="#">Cell Phones & Accessories</a></li>
                  <li><a class="dropdown-item" href="#">Camera & Photography</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Toys, Games, & Hobbies
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Audio & Speakers</a></li>
                  <li><a class="dropdown-item" href="#">Cell Phones & Accessories</a></li>
                  <li><a class="dropdown-item" href="#">Camera & Photography</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Sports & Outdoors
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Audio & Speakers</a></li>
                  <li><a class="dropdown-item" href="#">Cell Phones & Accessories</a></li>
                  <li><a class="dropdown-item" href="#">Camera & Photography</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Collectibles & Art
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Audio & Speakers</a></li>
                  <li><a class="dropdown-item" href="#">Cell Phones & Accessories</a></li>
                  <li><a class="dropdown-item" href="#">Camera & Photography</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Pet supplies
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Audio & Speakers</a></li>
                  <li><a class="dropdown-item" href="#">Cell Phones & Accessories</a></li>
                  <li><a class="dropdown-item" href="#">Camera & Photography</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Health & Beauty
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Audio & Speakers</a></li>
                  <li><a class="dropdown-item" href="#">Cell Phones & Accessories</a></li>
                  <li><a class="dropdown-item" href="#">Camera & Photography</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Wedding
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Audio & Speakers</a></li>
                  <li><a class="dropdown-item" href="#">Cell Phones & Accessories</a></li>
                  <li><a class="dropdown-item" href="#">Camera & Photography</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Business equipment
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Audio & Speakers</a></li>
                  <li><a class="dropdown-item" href="#">Cell Phones & Accessories</a></li>
                  <li><a class="dropdown-item" href="#">Camera & Photography</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Tickets
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Audio & Speakers</a></li>
                  <li><a class="dropdown-item" href="#">Cell Phones & Accessories</a></li>
                  <li><a class="dropdown-item" href="#">Camera & Photography</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    General
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Audio & Speakers</a></li>
                  <li><a class="dropdown-item" href="#">Cell Phones & Accessories</a></li>
                  <li><a class="dropdown-item" href="#">Camera & Photography</a></li>
                </ul>
            </div>
            
        </ul>

        
    </div>

</nav>