<nav class = "navbar bg-white">
    
    <div class = "container-fluid">

        <ul class = "nav" justify-content-end>
        
            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Electronics & Media
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Audio & Speakers</a></li>
                  <li><a class="dropdown-item" href="#">Cell Phones & Accessories</a></li>
                  <li><a class="dropdown-item" href="#">Camera & Photography</a></li>
                  <li><a class="dropdown-item" href="#">TVs & Media players</a></li>
                  <li><a class="dropdown-item" href="#">Video Games & Consoles</a></li>
                  <li><a class="dropdown-item" href="#">Computers & Accessories</a></li>
                  <li><a class="dropdown-item" href="#">Books, Movies, & Music</a></li>
                  <li><a class="dropdown-item" href="#">Wearables</a></li>
                  <li><a class="dropdown-item" href="#">Drones</a></li>
                  <li><a class="dropdown-item" href="#">Virtual reality</a></li>
                  <li><a class="dropdown-item" href="#">Other - Electronics & Media</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Home & Garden
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Furniture</a></li>
                    <li><a class="dropdown-item" href="#">Household</a></li>
                    <li><a class="dropdown-item" href="#">Appliances</a></li>
                    <li><a class="dropdown-item" href="#">Kitchen & Dining</a></li>
                    <li><a class="dropdown-item" href="#">Bathroom</a></li>
                    <li><a class="dropdown-item" href="#">Tools & Machinery</a></li>
                    <li><a class="dropdown-item" href="#">Home improvement</a></li>
                    <li><a class="dropdown-item" href="#">Lawn & Garden</a></li>
                    <li><a class="dropdown-item" href="#">Home decor</a></li>
                    <li><a class="dropdown-item" href="#">Other - Home & Garden</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Clothing, Shoes, & Accessories
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Women's clothing</a></li>
                    <li><a class="dropdown-item" href="#">Men's clothing</a></li>
                    <li><a class="dropdown-item" href="#">Women's shoes</a></li>
                    <li><a class="dropdown-item" href="#">Men's shoes</a></li>
                    <li><a class="dropdown-item" href="#">Jewelry & Acessories</a></li>
                    <li><a class="dropdown-item" href="#">Girl's clothing</a></li>
                    <li><a class="dropdown-item" href="#">Boy's clothing</a></li>
                    <li><a class="dropdown-item" href="#">Baby & Toddler girl clothing</a></li>
                    <li><a class="dropdown-item" href="#">Baby & Toddler boy clothing</a></li>
                    <li><a class="dropdown-item" href="#">Baby & Toddler accessories</a></li>
                    <li><a class="dropdown-item" href="#">Girl's shoes</a></li>
                    <li><a class="dropdown-item" href="#">Girl's accessories</a></li>
                    <li><a class="dropdown-item" href="#">Boy's shoes</a></li>
                    <li><a class="dropdown-item" href="#">Boy's accessories</a></li>
                    <li><a class="dropdown-item" href="#">Other - Clothing, Shoes, & Accessories</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Baby & Kids
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Girl's accessories</a></li>
                    <li><a class="dropdown-item" href="#">Boy's accessories</a></li>
                    <li><a class="dropdown-item" href="#">Bathing & Skincare</a></li>
                    <li><a class="dropdown-item" href="#">Car seats & Accessories</a></li>
                    <li><a class="dropdown-item" href="#">Diapering</a></li>
                    <li><a class="dropdown-item" href="#">Feeding</a></li>
                    <li><a class="dropdown-item" href="#">Baby gear</a></li>
                    <li><a class="dropdown-item" href="#">Health & Baby care</a></li>
                    <li><a class="dropdown-item" href="#">Nursery furniture & Decor</a></li>
                    <li><a class="dropdown-item" href="#">Potty training</a></li>
                    <li><a class="dropdown-item" href="#">Pregnancy & Maternity</a></li>
                    <li><a class="dropdown-item" href="#">Strollers</a></li>
                    <li><a class="dropdown-item" href="#">Baby toys</a></li>
                    <li><a class="dropdown-item" href="#">Other - Baby & Kids</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Vehicles
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Car's & Trucks</a></li>
                    <li><a class="dropdown-item" href="#">Motorcycles</a></li>
                    <li><a class="dropdown-item" href="#">Campers & RVs</a></li>
                    <li><a class="dropdown-item" href="#">Boats & Marine</a></li>
                    <li><a class="dropdown-item" href="#">Powersport vehicles</a></li>
                    <li><a class="dropdown-item" href="#">Trailers</a></li>
                    <li><a class="dropdown-item" href="#">Commercial vehicles</a></li>
                    <li><a class="dropdown-item" href="#">Tires & Rims</a></li>
                    <li><a class="dropdown-item" href="#">Auto parts & Accessories</a></li>
                    <li><a class="dropdown-item" href="#">Other - Vehicles</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Toys, Games, & Hobbies
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Toys</a></li>
                    <li><a class="dropdown-item" href="#">Games & Puzzles</a></li>
                    <li><a class="dropdown-item" href="#">Outdoor toys & Games</a></li>
                    <li><a class="dropdown-item" href="#">Stuffed animals & Plush</a></li>
                    <li><a class="dropdown-item" href="#">Dress up & Pretend</a></li>
                    <li><a class="dropdown-item" href="#">Trading cards</a></li>
                    <li><a class="dropdown-item" href="#">Musical instruments</a></li>
                    <li><a class="dropdown-item" href="#">Other - Toys, Games, & Hobbies</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Sports & Outdoors
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Exercise</a></li>
                    <li><a class="dropdown-item" href="#">Yoga & Pilates</a></li>
                    <li><a class="dropdown-item" href="#">Mixed martial arts & Boxing</a></li>
                    <li><a class="dropdown-item" href="#">Bikes & Cycling</a></li>
                    <li><a class="dropdown-item" href="#">Skateboarding</a></li>
                    <li><a class="dropdown-item" href="#">Fishing</a></li>
                    <li><a class="dropdown-item" href="#">Campong & Hiking</a></li>
                    <li><a class="dropdown-item" href="#">Water sports</a></li>
                    <li><a class="dropdown-item" href="#">Ice & Snow sports</a></li>
                    <li><a class="dropdown-item" href="#">Lawn games</a></li>
                    <li><a class="dropdown-item" href="#">Team sports</a></li>
                    <li><a class="dropdown-item" href="#">Golf</a></li>
                    <li><a class="dropdown-item" href="#">Fan shop</a></li>
                    <li><a class="dropdown-item" href="#">Other - Sports & Outdoors</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Collectibles & Art
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Art</a></li>
                    <li><a class="dropdown-item" href="#">Arts & Crafts supplies</a></li>
                    <li><a class="dropdown-item" href="#">Antiques</a></li>
                    <li><a class="dropdown-item" href="#">Bikes & Cycling</a></li>
                    <li><a class="dropdown-item" href="#">Collectibles</a></li>
                    <li><a class="dropdown-item" href="#">Handmade</a></li>
                    <li><a class="dropdown-item" href="#">Other - Collectibles & Art</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Pet supplies
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Pet collars & Leashes</a></li>
                    <li><a class="dropdown-item" href="#">Pet clothing, Accesssories, & Shoes</a></li>
                    <li><a class="dropdown-item" href="#">Pet toys</a></li>
                    <li><a class="dropdown-item" href="#">Pet feeding</a></li>
                    <li><a class="dropdown-item" href="#">Pet bedding</a></li>
                    <li><a class="dropdown-item" href="#">Pet furniture</a></li>
                    <li><a class="dropdown-item" href="#">Pet carriers & Houses</a></li>
                    <li><a class="dropdown-item" href="#">Pet health & Wellness</a></li>
                    <li><a class="dropdown-item" href="#">Training</a></li>
                    <li><a class="dropdown-item" href="#">Pet gates & Fences</a></li>
                    <li><a class="dropdown-item" href="#">Other - Pet supplies</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Health & Beauty
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Hair care</a></li>
                    <li><a class="dropdown-item" href="#">Bath & Body</a></li>
                    <li><a class="dropdown-item" href="#">Makeup & Cosmetics</a></li>
                    <li><a class="dropdown-item" href="#">Skincare</a></li>
                    <li><a class="dropdown-item" href="#">Frangrance</a></li>
                    <li><a class="dropdown-item" href="#">Personal care</a></li>
                    <li><a class="dropdown-item" href="#">Tools & Accessories</a></li>
                    <li><a class="dropdown-item" href="#">Other - Health & Beauty</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Wedding
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Jewelry</a></li>
                    <li><a class="dropdown-item" href="#">Invitations & Paper</a></li>
                    <li><a class="dropdown-item" href="#">Gifts & Mementos</a></li>
                    <li><a class="dropdown-item" href="#">Decorations</a></li>
                    <li><a class="dropdown-item" href="#">Accessories</a></li>
                    <li><a class="dropdown-item" href="#">Clothing</a></li>
                    <li><a class="dropdown-item" href="#">Shoes</a></li>
                    <li><a class="dropdown-item" href="#">Other - Wedding</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Business equipment
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Farming & Agriculture</a></li>
                    <li><a class="dropdown-item" href="#">Building materials & Supplies</a></li>
                    <li><a class="dropdown-item" href="#">Cleaning & Janitorial supplies</a></li>
                    <li><a class="dropdown-item" href="#">Electrical equipment & Supplies</a></li>
                    <li><a class="dropdown-item" href="#">Facility maintenance & Safety</a></li>
                    <li><a class="dropdown-item" href="#">Fasteners & Hardware</a></li>
                    <li><a class="dropdown-item" href="#">HVAC</a></li>
                    <li><a class="dropdown-item" href="#">Light industrial equipment & Tools</a></li>
                    <li><a class="dropdown-item" href="#">Material handling</a></li>
                    <li><a class="dropdown-item" href="#">Office equipment & Supplies</a></li>
                    <li><a class="dropdown-item" href="#">Restaurant & Food service equipment</a></li>
                    <li><a class="dropdown-item" href="#">Printing & Graphic arts</a></li>
                    <li><a class="dropdown-item" href="#">Retail & Services</a></li>
                    <li><a class="dropdown-item" href="#">Industrial fuel & Energy equipment</a></li>
                    <li><a class="dropdown-item" href="#">Other - Business equipment</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Tickets
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Concerts</a></li>
                    <li><a class="dropdown-item" href="#">Sports</a></li>
                    <li><a class="dropdown-item" href="#">Theater</a></li>
                    <li><a class="dropdown-item" href="#">Theme parks</a></li>
                    <li><a class="dropdown-item" href="#">Other - Tickets</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-white dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    General
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">View All</a></li>
                </ul>
            </div>
            
        </ul>

        
    </div>

</nav>