<nav class = "navbar bg-white">

    <div class = "container-fluid">

        <ul class = "nav" justify-content-end> 
            
            <a class = "navbar-brand" href = "#">
                    <img src = "assets/logo.png" alt = "" width = "200" height = "40">
            </a>
            
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <ul class = "nav">
                <li class = "nav-item" ><a class = "nav-link text-success" href = "#">
                    Morgantown: 30 miles + Shipping
                </a></li>
            </ul>
        
        </ul>

        <ul class = "nav" justify-content-end>
        
            <div class="dropdown">
                <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  About
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">About</a>
                  <a class="dropdown-item" href="#">Terms of Service</a>
                  <a class="dropdown-item" href="#">Privacy</a>
                </div>
            </div>

            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#">
                    Help
                </a>
            </li>

            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#">
                    Login
                </a>
            </li>
        </ul>

    </div>

    <div class = "container-fluid">
        <ul class = "nav">
            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#">
                    Electronics & Media
                </a>
            </li>

            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#">
                    Home & Garden
                </a>
            </li>

            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#">
                    Clothing, Shoes, & Accessories
                </a>
            </li>

            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#">
                    Baby & Kids
                </a>
            </li>

            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#">
                    Vehicles
                </a>
            </li>

            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#">
                    Toys, Games, & Hobbies
                </a>
            </li>

            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#">
                    Sports & Outdoors
                </a>
            </li>

            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#">
                    Collectibles & Art
                </a>
            </li>

            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#">
                    Pet supplies
                </a>
            </li>

            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#">
                    Health & Beauty
                </a>
            </li>

            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#">
                    Wedding
                </a>
            </li>

            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#">
                    Business equipment
                </a>
            </li>

            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#">
                    Tickets
                </a>
            </li>

            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#">
                    General
                </a>
            </li>
        </ul>
    </div>

</nav>