<nav class = "navbar bg-white">

    <div class = "container-fluid">

        <ul class = "nav" justify-content-end> 
            
            <a class = "navbar-brand" href = "#">
                    <img src = "assets/logo.png" alt = "" width = "200" height = "40">
            </a>
            
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>

            <ul class = "nav">
                <li class = "nav-item" ><a class = "nav-link text-success" href = "#">
                    Morgantown: 30 miles + Shipping
                </a></li>
            </ul>
        
        </ul>

        <ul class = "nav" justify-content-end>
        
            <div class="dropdown">
                <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  About
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">About</a></li>
                  <li><a class="dropdown-item" href="#">Terms of Service</a></li>
                  <li><a class="dropdown-item" href="#">Privacy</a></li>
                </ul>
              </div>
            

            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#">
                    Help
                </a>
            </li>

            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#">
                    Login
                </a>
            </li>
            
        </ul>

    </div>

</nav>