<footer class="bg-white py-5">

    <div class="container-fluid">



        <ul class="list-unstyled d-flex justify-content-center">

            <button class="btn btn-success text-white" type="button" aria-expanded="false">
                {{page_end}}
            </button>

        </ul>

        <div class="d-flex justify-content-center  text-light">
            <h4 class="text-dark ">
                Search for items by city
            </h4>
        </div>

        <div class="row d-flex justify-content-between text-light">


            <div class="col-1">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Atlanta, GA</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Austin, TX</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Baltimore, MD</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Boston, MA</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Chicago, IL</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Cleveland, OH</a></li>
                </ul>
            </div>

            <div class="col-1">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Columbus, OH</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Dallas, TX</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Denver, CO</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Detroit, MI</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Houston, TX</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Las Vegas, NV</a></li>
                </ul>
            </div>

            <div class="col-1">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Los Angeles, CA</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Miami, FL</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Nashville, TN</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">New York, NY</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Orlando, FL</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Philadelphia, PA</a></li>
                </ul>
            </div>

            <div class="col-1">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Pittsburgh, PA</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Phoenix, AZ</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Portland, OR</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Salt Lake City, UT</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">San Diego, CA</a></li>
                </ul>
            </div>

            <div class="col-1">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">San Francesco, CA</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Seattle, WA</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">St. Louis, MO</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">Tampa, FL</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-success">See more</a></li>
                </ul>
            </div>
        </div>



    </div>

</footer>