<p>Home> Terms of Service</p>

<div>
    <h1 class="text-dark ">
        Terms of Service
    </h1>
</div>

<div text-dark>
    <p>Last updated: May 27, 2021</p>
</div>

<div text-dark>
    <p >These Terms of Service ("Terms") apply to your access to and use of our website, mobile applications and other online 
        products and services (collectively, the "OfferUp Services" or "Services") provided by OfferUp Inc. ("OfferUp", "we" or "us"). 
        PLEASE READ THESE TERMS CAREFULLY, INCLUDING THE MANDATORY ARBITRATION PROVISIONS IN SECTIONS 21 AND 22, WHICH REQUIRES THAT DISPUTES 
        BE RESOLVED BY FINAL AND BINDING ARBITRATION ON AN INDIVIDUAL BASIS, NOT A CLASS-WIDE OR CONSOLIDATED BASIS. IF YOU DO NOT WISH TO BE SUBJECT 
        TO ARBITRATION, YOU MAY OPT OUT OF THE ARBITRATION PROVISION BY FOLLOWING THE INSTRUCTIONS PROVIDED IN SECTION 21 OR 22.
    </p>
</div>
