<div class="m-5">
    <p>Home> Terms of Service</p>

    <div>
        <h1 class="text-dark ">
            Terms of Service
        </h1>
    </div>

    <div text-dark>
        <p>Last updated: May 27, 2021</p>
    </div>

    <div text-dark>
        <p>These Terms of Service ("Terms") apply to your access to and use of our website, mobile applications and
            other online
            products and services (collectively, the "OfferUp Services" or "Services") provided by OfferUp Inc.
            ("OfferUp", "we" or "us").
            PLEASE READ THESE TERMS CAREFULLY, INCLUDING THE MANDATORY ARBITRATION PROVISIONS IN SECTIONS 21 AND 22,
            WHICH REQUIRES THAT DISPUTES
            BE RESOLVED BY FINAL AND BINDING ARBITRATION ON AN INDIVIDUAL BASIS, NOT A CLASS-WIDE OR CONSOLIDATED BASIS.
            IF YOU DO NOT WISH TO BE SUBJECT
            TO ARBITRATION, YOU MAY OPT OUT OF THE ARBITRATION PROVISION BY FOLLOWING THE INSTRUCTIONS PROVIDED IN
            SECTION 21 OR 22.
        </p>
        <p>YOU ACKNOWLEDGE AND AGREE THAT THERE ARE RISKS ASSOCIATED WITH USING AN INTERNET-BASED
            MARKETPLACE AND INTERACTING WITH OTHER USERS IN PERSON AS OUTLINED IN SECTION 17.
        </p>
        <p>BY ACCESSING OR USING OUR SERVICES, YOU AGREE TO BE BOUND BY THESE TERMS AND ALL TERMS INCORPORATED BY
            REFERENCE. IF YOU DO NOT AGREE TO THESE TERMS IN THEIR ENTIRETY, DO NOT USE OUR SERVICES.
        </p>
        <p>We may supply different or additional terms (including, but not limited to, the terms of social media
            services,
            third-party payment processors, and third-party fulfillment providers) in relation to some of our Services,
            and
            those different or additional terms become part of your agreement with us if you use those Services. If
            there is
            a conflict between these Terms and the additional terms, the additional terms will control for that
            conflict.
        </p>
        <p>We may make changes to these Terms from time to time. If we make changes, we will provide you with notice of
            such
            changes, such as by sending an email, providing a notice through our Services or updating the date at the
            top of
            these Terms. Unless we say otherwise in our notice, the amended Terms will be effective immediately, and
            your
            continued use of our Services after we provide such notice will confirm your acceptance of the changes. If
            you do
            not agree to the amended Terms, you must stop using our Services.
            From time to time OfferUp introduces new features that may only be available to certain users. Provisions of
            these Terms of Service relating to new features may not apply to all users.
        </p>
        <p>If you have any questions about these Terms or our Services, please contact us at <a href="">support@offerup.com</a>.</p>
    </div>
</div>