<div class="m-2">
    <div class="container-fluid">
        <div class="d-flex flex-row">
            <offerup-merch-card>loading card</offerup-merch-card>
            <offerup-merch-card>loading card</offerup-merch-card>
            <offerup-merch-card>loading card</offerup-merch-card>
            <offerup-merch-card>loading card</offerup-merch-card>
            <offerup-merch-card>loading card</offerup-merch-card>
            <offerup-merch-card>loading card</offerup-merch-card>
        </div>
        <div class="d-flex flex-row">
            <offerup-merch-card>loading card</offerup-merch-card>
            <offerup-merch-card>loading card</offerup-merch-card>
            <offerup-merch-card>loading card</offerup-merch-card>
            <offerup-merch-card>loading card</offerup-merch-card>
            <offerup-merch-card>loading card</offerup-merch-card>
            <offerup-merch-card>loading card</offerup-merch-card>
        </div>
        <div class="d-flex flex-row">
            <offerup-merch-card>loading card</offerup-merch-card>
            <offerup-merch-card>loading card</offerup-merch-card>
            <offerup-merch-card>loading card</offerup-merch-card>
            <offerup-merch-card>loading card</offerup-merch-card>
            <offerup-merch-card>loading card</offerup-merch-card>
            <offerup-merch-card>loading card</offerup-merch-card>
        </div>
        <div class="d-flex flex-row">
            <offerup-merch-card>loading card</offerup-merch-card>
            <offerup-merch-card>loading card</offerup-merch-card>
            <offerup-merch-card>loading card</offerup-merch-card>
            <offerup-merch-card>loading card</offerup-merch-card>
            <offerup-merch-card>loading card</offerup-merch-card>
            <offerup-merch-card>loading card</offerup-merch-card>
        </div>
    </div>
</div>