<p *ngIf="merchList == undefined">Failed fetching merch info</p>
<div *ngIf="merchList != undefined">
    <div class="m-2">
        <div class="container-fluid">
            <div class="d-flex flex-row">
                <div *ngFor = "let merch of merchcards">
                    <offerup-merch-card title={{merch.title}} cost={{merch.cost}} locator={{merch.locator}} imgPath={{merch.imgPath}}>loading card</offerup-merch-card>
                </div>
                <!-- <div>
                    <offerup-merch-card title={{merchList.merch1.title}} cost={{merchList.merch1.cost}}
                        locator={{merchList.merch1.locator}} imgPath={{merchList.merch1.imgPath}}>loading card
                    </offerup-merch-card>
                </div>
                <div>
                    <offerup-merch-card title={{merchList.merch2.title}} cost={{merchList.merch2.cost}}
                        locator={{merchList.merch2.locator}} imgPath={{merchList.merch2.imgPath}}>loading card
                    </offerup-merch-card>
                </div>
                <div>
                    <offerup-merch-card title={{merchList.merch3.title}} cost={{merchList.merch3.cost}}
                        locator={{merchList.merch3.locator}} imgPath={{merchList.merch3.imgPath}}>loading card
                    </offerup-merch-card>
                </div>
                <div>
                    <offerup-merch-card title={{merchList.merch4.title}} cost={{merchList.merch4.cost}}
                        locator={{merchList.merch4.locator}} imgPath={{merchList.merch4.imgPath}}>loading card
                    </offerup-merch-card>
                </div>
                <div>
                    <offerup-merch-card title={{merchList.merch5.title}} cost={{merchList.merch5.cost}}
                        locator={{merchList.merch5.locator}} imgPath={{merchList.merch5.imgPath}}>loading card
                    </offerup-merch-card>
                </div>
                <div>
                    <offerup-merch-card title={{merchList.merch6.title}} cost={{merchList.merch6.cost}}
                        locator={{merchList.merch6.locator}} imgPath={{merchList.merch6.imgPath}}>loading card
                    </offerup-merch-card>
                </div>
                <div>
                    <offerup-merch-card title={{merchList.merch7.title}} cost={{merchList.merch7.cost}}
                        locator={{merchList.merch7.locator}} imgPath={{merchList.merch7.imgPath}}>loading card
                    </offerup-merch-card>
                </div> -->
            </div>
        </div>
    </div>
</div>